*.o
*.d
*.elf
*.hex
*.lst
*.ngc
*.ncd
*.drc
*.bld
*.bgn
*.map
*.ngm
*.pad
*.pcf
*.srp
*.xpi
*.csv
*.lst
*.par
*.xrpt
*.vvp*
*.mrp
*.ngd
*.ptwx
*.bit
*.xml
*.dep
*.unroutes
*.log
*.ram
*.bin
*.srec
*.svf
log
image
*.twr
*.lso
*routed_pad.txt
*xlnx_auto_0_xdb*
*xst
*.vcd
